body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    position: relative;
}
#menu-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 1em;
    cursor: pointer;
}


nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    align-items: center;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
    text-align: center;
}

.produtos {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
}

.produto {
    font-family: cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 30%;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em;
    border-radius: 5%;
    border-color: blue;
    border-style: solid;
    text-align: center;
}

.produto img {
    width: 20vw;
    height: 20vh;
    margin-bottom: 1em;
}

.produto h3 {
    margin: 0.5em 0;
    background-color: rgb(238, 10, 10);
}

.produto p {
    margin: 0.5em 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.full-screen-video {
    width: 50vw;
    height: 75vh;
}

nav ul li a:hover {
    color: #ff6347; /* Altere para a cor desejada */
    text-decoration: underline; /* Adicione um sublinhado ou outro estilo desejado */
}

@media (max-width: 500px) {
    .produto {
        flex: 0 0 100%;
    }

    .produto img {
        width: 80vw;
        height: auto;   
    }
}

